.DS_Store
infer-out/
*.swp
.idea/
build/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.mode1v3
*.mode2v3
*.svn.*
Anjuke2.xcodeproj/project.xcworkspace/xcshareddata/
Anjuke2/shanghai.gpx
Anjuke2.xcworkspace/xcuserdata/
Anjuke2.xcworkspace/xcshareddata
Pods
gitupdate.sh
tags
PodfileDev
dev_config.sh
dev_build.sh
WChatLib.a
libWRTC.a
DerivedData/
.gem/

SizeReport.html
compile_commands.json
xcodebuild.log
builds

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/
